body{
    height: 100vh;
    background: linear-gradient(179deg, rgb(44, 222, 242) 0.00%, rgb(156, 43, 171) 62.53%, rgb(39, 43, 44) 100.00%);
}
*{
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    flex-direction: column;
    
}
.navigationbar {
    padding-top: 10px;
    padding-bottom: 8px;
    position: relative;
    background: black;
    overflow: hidden;
    text-align: center;
    box-shadow: 10px 3px 10px rgba(0,0,0,0.8);
}
.navigationbar img[alt="image"] {
    position: absolute;
    top: 15px;
    left: 30px;
    transition: filter 0.7s ease;
}
.navigationbar img[alt="image"]:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
}
.navigationbar img[alt="github"] {
    position: absolute;
    top: 12px;
    left: 1400px;
    transition: filter 0.7s ease;
}
.navigationbar img[alt="github"]:hover {
    filter: brightness(1.9);
    transform: scale(1.08);
}
.navigationbar img[alt="linkedin"]{
    position: absolute;
    top: 12px;
    left: 1480px;
    transition: filter 0.7s ease;
}
.navigationbar img[alt="linkedin"]:hover{
    filter: brightness(1.9);
    transform: scale(1.08);
}
.navigationbar ul{
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
}
.navigationbar ul li {
    display: inline-block;
}
.navigationbar ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    border-bottom: 4px solid transparent;
}
.navigationbar ul li a:hover{
    transform: scale(1.08);
    color: white;
    border-bottom-color: white;
}
.search-box{
    position: absolute;
    top: 11px;
    left:1150px;
    padding: 5px;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid #333;
}
.search-box:hover {
    outline: none;
    border-color: #555;
}
input{
    border-radius: 15px;
}
input:hover{
    background-color: aliceblue;
    transform: scale(1.05);
}
.box-container{
    padding-left: 10px;
    padding-right: 10px;
}
.box{
    margin-top: 10px;
    background-color: antiquewhite;
    border:2px solid black;
    width:auto;
    height: 80px;
    /* display: none; */
}
.text1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: larger;
    font-variant: small-caps;
}
.news {
    padding-top: 20px;
    display: flex;
}

.news-left,
.news-right {
    padding: 10px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-left img,
.news-right img {
    max-width: 100%;
    max-height: 100%; 
    width: auto;
    height: auto;
}