body{
    background:white;
            
    /* height: 100vh;
    background: linear-gradient(179deg, rgb(44, 222, 242) 0.00%, rgb(156, 43, 171) 62.53%, rgb(39, 43, 44) 100.00%); */
}
*{
    margin: 0;
    padding: 0;
}
.main{
    padding-top: 68px;
    display: flex;
    flex-direction: column;  
}

/* navigation css starts from here */
.navigationbar {
    padding-top: 10px;
    padding-bottom: 8px;
    position: fixed; 
    top: 0; 
    width: 100%;
    background: black;
    overflow: hidden;
    text-align: center;
    box-shadow: 10px 3px 10px rgba(0,0,0,0.8);
    z-index: 1000;
}
.navigationbar img[alt="image"] {
    position: absolute;
    top: 15px;
    left: 30px;
    transition: filter 0.7s ease;
}
.navigationbar img[alt="image"]:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
}
.navigationbar img[alt="github"] {
    position: absolute;
    top: 12px;
    left: 1400px;
    transition: filter 0.7s ease;
}
.navigationbar img[alt="github"]:hover {
    filter: brightness(1.9);
    transform: scale(1.08);
}
.navigationbar img[alt="linkedin"]{
    position: absolute;
    top: 12px;
    left: 1480px;
    transition: filter 0.7s ease;
}
.navigationbar img[alt="linkedin"]:hover{
    filter: brightness(1.9);
    transform: scale(1.08);
}
.navigationbar ul{
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
}
.navigationbar ul li {
    display: inline-block;
}
.navigationbar ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    border-bottom: 4px solid transparent;
}
.navigationbar ul li:nth-child(3) a {
    border-bottom: 5px solid white; /* Add border to Game Details */
}

.navigationbar ul li:nth-child(3) a:hover {
    border-bottom: none; /* Remove border on hover */
}

.navigationbar ul li a:hover{
    transform: scale(1.08);
    color: white;
    border-bottom-color: white;
}
.search-box{
    position: absolute;
    top: 11px;
    left:1150px;
    padding: 5px;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid #333;
}
.search-box:hover {
    outline: none;
    border-color: #555;
}
.navigationbar input{
    border-radius: 15px;
}
.navigationbar input:hover{
    background-color: aliceblue;
    transform: scale(1.05);
}
.outer-div {
    background-image: url("/image/earth.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: row; /* Arrange items in a row */
    width: 100%; /* Full width */
    height: 88vh; 
}

.inner-div1,
.inner-div2 {
    flex: 1; /* Equal width */
    padding: 20px; /* Add some spacing */
    border: 1px solid #ccc;
     /* Add border for visibility */
}
.inner-div1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    background-color: rgba(0, 255, 0, 0.2);
}
.inner-div2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    width: 550px;
    height: 450px;
    background-color: rgba(0, 0, 255, 0.2);
}

.text-above-form {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -450%);
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
textarea {
    width: 99%; /* Full width */
    height: 100px; /* Fixed height */
}
.box1 input[name="subject"] {
    border-radius: 20px;
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;;
}
.box1 input[name="subject"]:hover {
    transform: scale(1.02);
}
.box1 input[value="Submit"] {
    border-radius: 20px;
    width:25%;
    margin-left: 37.5%;
}
.box1 input[value="Submit"]:hover {
    transform: scale(1.1);
}
.box1 textarea[name="reason"] {
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 20px;
}
.box1 textarea[name="reason"]:hover {
    transform: scale(1.01);
}
.font-style-1 {
    font-style: italic;
}

.font-style-2 {
    font-weight: bold;
}

.font-style-3 {
    text-decoration: underline;
}
.font-style-4 {
    font-weight: normal;
}

.font-style-5 {
    font-style: oblique;
}

.font-style-6 {
    text-decoration: line-through;
}

.font-style-7 {
    font-variant: small-caps;
}

.font-style-8 {
    font-variant: petite-caps;
}
iframe:hover {
    transform: scale(1.1);
}
